[Unit]
Description=Sockperf Server Mode
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/sockperf sr --tcp --port 11111

[Install]
WantedBy=multi-user.target